<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <SiteUrlToLaunchAfterPublish>http://santiagots-001-site1.smarterasp.net/</SiteUrlToLaunchAfterPublish>
    <MSDeployServiceURL>https://santiagots-001-site1.smarterasp.net:8172/MsDeploy.axd</MSDeployServiceURL>
    <DeployIisAppPath>santiagots-001-site1</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <UserName>ifc\santiagots-001</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="SAVContext" Order="4" Enabled="False">
          <Destination Path="Data Source=SQL5002.Smarterasp.net;Initial Catalog=DB_9B1463_sav;Persist Security Info=True;User ID=DB_9B1463_sav_admin;Password=matambre64" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="SAV.Models.SAVContext, SAV" MigrationConfiguration="SAV.Migrations.Configuration, SAV" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)SAVContext-Web.config Connection String">
      <ParameterValue>Data Source=SQL5002.Smarterasp.net;Initial Catalog=DB_9B1463_sav;Persist Security Info=True;User ID=DB_9B1463_sav_admin;Password=matambre64</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>

<publishData>
    <publishProfile
   ="" publishUrl="https://santiagots-001-site1.smarterasp.net:8172/msdeploy.axd"
   ="" msdeploySite="santiagots-001-site1"
   ="" destinationAppUrl="http://santiagots-001-site1.smarterasp.net/"
   ="" profileName="Default Settings"
   ="" publishMethod="MSDeploy"
   ="" userName="ifc\santiagots-001" />
</publishData>